body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.navbar
{
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(0, 188, 113);
}

.navbar .container
{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 100px;
}

.nawbar-wrap
{
    display: flex;
    flex-flow: row nowrap;
}

.user
{
    display: flex;
    align-items: center; 
    margin-right: 30px;
    color: white    ;
    
}

.navbar-logo
{
    font-size: 30px;
    color: white;
    transition: transform 0.4s;

}

.navbar-logo:hover
{
    transform: scale(1.2);
}

.menu-select
{
    height: 550px;
    width: 400px;
    border: solid 0px;
    border-color: #E8E8E8;
    margin-left: 100px;
    margin-top: 35px;

}

.menu-selected
{
    height: 550px;
    width: 850px;
    margin-left: 570px;
    margin-top: -555px;
    margin-right: 100px;

}

.lkButt
{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    border: 2px solid #E8E8E8; 
    background-color: rgb(0, 188, 113);
    color: #ffffff;
}

.OrderButt
{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    border: 2px solid #E8E8E8; 
    background-color: white; 
}

.OrderButt:hover
{
    color: #ffffff;
    background-color: rgb(0, 188, 113);
}

.ChangePassButt
{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    border: 2px solid #E8E8E8; 
    background-color: white; 
}

.ChangePassButt:hover
{
    color: #ffffff;
    background-color: rgb(0, 188, 113);
}

.BackBTN
{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    border: 2px solid #E8E8E8; 
    background-color: white; 
}

.BackBTN:hover
{
    color: #ffffff;
    background-color: rgb(0, 188, 113);
}

.imgPlace
{
    border: 1px solid;
    width: 350px;
    height: 425px;
    margin-top: 10px;
}


.data
{
    margin-left: 400px;
    margin-top: -450px;
}

#data
{
    margin-bottom: 50px;
    font-size: 20px;
}

#inputs
{
    width: 300px;
    padding-left: 10px;
    height: 30px;
    border-radius: 10px;
}

.NameInput
{
    margin-left: 48px;
}

.EmailInput
{
    margin-left: 30px;
}

.PhoneInput
{
    margin-left: 7px;
}

.Save
{
    width: 420px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 188, 113);
    border: 1px solid #E8E8E8; 
    -webkit-box-shadow: 0px 10px 7px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 7px -1px rgba(34, 60, 80, 0.2);
box-shadow: 0px 10px 7px -1px rgba(34, 60, 80, 0.2);
}

.Save:hover
{
    -webkit-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.2) inset;
}

.input-file {
	position: relative;
	display: inline-block;
    
}
.input-file span {
	position: relative;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	background-color: rgb(0, 188, 113);
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0;
    width: 352px;
    border-radius: 10px;
    color: black;
    margin-top: 25px;
    -webkit-box-shadow: 0px 10px 7px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 7px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 7px -1px rgba(34, 60, 80, 0.2);

}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Hover/active */
.input-file:hover span {
	-webkit-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.2) inset;
}

.input-file:active span {
	background-color: rgb(0, 188, 113);
}

#imgProf
{
    width: 350px;
    height: 425px;
}

#imgProfHead
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    margin-right: 35px;
    border: 2px solid white;
}

.getOrder :hover
{
    color: #ffffff;
    background-color: rgb(0, 188, 113);
}

.OrderButt1
{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    border: 2px solid #E8E8E8; 
    background-color: white; 
}

.OrderButt1:hover
{
    color: #ffffff;
    background-color: rgb(0, 188, 113);
}

.OrderButt2
{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    border: 2px solid #E8E8E8; 
    background-color: white; 
}

.OrderButt2:hover
{
    color: #ffffff;
    background-color: rgb(0, 188, 113);
}